@font-face {font-family: "tpp";
  src: url('https://cdn.tianyancha.com/web-require-js/public/fonts/tpp-904a980b0d.eot'); /* IE9*/
  src: url('https://cdn.tianyancha.com/web-require-js/public/fonts/tpp-904a980b0d.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('https://cdn.tianyancha.com/web-require-js/public/fonts/tpp-97ad6faddb.woff') format('woff'), /* chrome, firefox */
  url('https://cdn.tianyancha.com/web-require-js/public/fonts/tpp-ec06158a3e.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('https://cdn.tianyancha.com/web-require-js/public/fonts/tpp-6a92abd9c0.svg#tpp') format('svg'); /* iOS 4.1- */
}

.tpp {
  font-family: "tpp" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tpp-plus:before {
  content: "\e756";
}

.tpp-angle-up:before {
  content: "\e632";
}

.tpp-angle-left:before {
  content: "\e631";
}

.tpp-angle-right:before {
  content: "\e633";
}

.tpp-export:before {
  content: "\e600";
}

.tpp-building:before {
  content: "\e64a";
}

.tpp-users:before {
  content: "\e730";
}

.tpp-reply:before {
  content: "\e6bf";
}

.tpp-square-o:before {
  content: "\e665";
}

.tpp-search:before {
  content: "\e61d";
}

.tpp-spinner:before {
  content: "\e94a";
}

.tpp-nav_icon:before {
  content: "\e630";
}

.tpp-save:before {
  content: "\e612";
}

.tpp-Addtodownload:before {
  content: "\e615";
}

.tpp-shot:before {
  content: "\e63a";
}

.tpp-symoneresizea:before {
  content: "\f47d";
}

.tpp-angle-down:before {
  content: "\e601";
}

.tpp-check-square:before {
  content: "\ef69";
}

.tpp-close:before {
  content: "\e65f";
}

.tpp-caozuotiaofangda:before {
  content: "\e725";
}

.tpp-caozuotiaoquanping:before {
  content: "\e726";
}

.tpp-caozuotiaohuanyuan:before {
  content: "\e727";
}

.tpp-chuantoutupufanhui:before {
  content: "\e728";
}

.tpp-qiyexiangqingbaocuntupian:before {
  content: "\e729";
}

.tpp-caozuotiaoxianshiquancheng:before {
  content: "\e72a";
}

.tpp-caozuotiaojiancheng:before {
  content: "\e72b";
}

.tpp-caozuotiaozhankai:before {
  content: "\e72c";
}

.tpp-qiyexiangqingxianshijiancheng:before {
  content: "\e72d";
}

.tpp-caozuotiaotuichu:before {
  content: "\e72e";
}

.tpp-qiyexiangqingquanping:before {
  content: "\e72f";
}

.tpp-qiyexiangqingchakangaoqing:before {
  content: "\e731";
}

.tpp-qiyexiangqingxianshiquancheng:before {
  content: "\e732";
}

.tpp-caozuotiaosuoxiao:before {
  content: "\e733";
}

.tpp-logoyouxiajiao:before {
  content: "\e734";
}

.tpp-shuiyinwebduan:before {
  content: "\e605";
}

.tpp-chuantoutupuyisishijikongzhirentubiao:before {
  content: "\e609";
}

.tpp-tupuapp_huanyuan:before {
  content: "\e60b";
}

.tpp-tupuapp_fenxiang:before {
  content: "\e60c";
}

.tpp-tupuapp_tuichu:before {
  content: "\e60d";
}

.tpp-tupuapp_baocun:before {
  content: "\e60e";
}

